{% extends "_layout.html" %}
{% block body %}

<div class="container-fluid">
  <div class="header center">
      <h1>{{ file_name }}</h1>
  </div>
  <div class="card">
    <div class="card-header">
      <h5>Basic Memory Image Information
        <a class="btn btn-info btn-sm" data-toggle="collapse" href="#imageinfo">Expand</a>
      </h5>
    </div>
    <div class="card-body collapse" id="imageinfo">
      <table class="table table-bordered">
        <tbody>
          {% for key in results['imageinfo'] %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ results['imageinfo'][key] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Process Information
        <a class="btn btn-info btn-sm" data-toggle="collapse" href="#pslist">Expand</a>
      </h5>
    </div>
    <div class="card-body collapse" id="pslist">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">PID</th>
            <th scope="col">Process Name</th>
            <th scope="col">Creation Time</th>
            <th scope="col">Exit Time</th>
            <th scope="col">PPID</th>
            <th scope="col">Handle Count</th>
            <th scope="col">Thread Count</th>
          </tr>
        </thead>
        <tbody>
            {% for proc in results['pslist'] %}
              <tr>
                <td>{{ proc['pid'] }}</td>
                <td>{{ proc['name'] }}</td>
                <td>{{ proc['process_create_time'] }}</td>
                <td>{{ proc['process_exit_time'] }}</td>
                <td>{{ proc['ppid'] }}</td>
                <td>{{ proc['handle_count'] }}</td>
                <td>{{ proc['thread_count'] }}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Network Information
        <a class="btn btn-info btn-sm" data-toggle="collapse" href="#netconns">Expand</a>
      </h5>
    </div>
    <div class="card-bodyi collapse" id="netconns">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Local IP</th>
            <th scope="col">Local Port</th>
            <th scope="col">Remote IP</th>
            <th scope="col">Remote Port</th>
            <th scope="col">PID</th>
          </tr>
        </thead>
        <tbody>
            {% for conn in results['networkconns'] %}
              <tr>
                <td>{{ conn['local_ip'] }}</td>
                <td>{{ conn['local_port'] }}</td>
                <td>{{ conn['remote_ip'] }}</td>
                <td>{{ conn['remote_port'] }}</td>
                <td>{{ conn['pid'] }}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>File Information
        <a class="btn btn-info btn-sm" data-toggle="collapse" href="#fileinfo">Expand</a>
      </h5>
    </div>
    <div class="card-body collapse" id="fileinfo">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">PID</th>
            <th scope="col">Offset</th>
            <th scope="col">Path</th>
            <th scope="col">Access</th>
          </tr>
        </thead>
        <tbody>
            {% for file in results['filescan'] %}
              <tr>
                <td>{{ file['pid'] }}</td>
                <td>{{ file['offset'] }}</td>
                <td>{{ file['path'] }}</td>
                <td>{{ file['access'] }}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Shimcache Information
        <a class="btn btn-info btn-sm" data-toggle="collapse" href="#shimcache">Expand</a>
      </h5>
    </div>
    <div class="card-body collapse" id="shimcache">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Path</th>
            <th scope="col">Last Modified</th>
            <th scope="col">Last Update</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock %}

{% block extra_scripts %}
{% endblock %}
